extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Joseph Steel

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer and Artist.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Change is constant, especially now, and the world needs people capable and willing to embrace this dynamic.
            br
            br
            | My name is Joey, and I'm proud to say I'm a lifelong learner. Some would call this a 'growth mindset', but I like to say its more of a outlook on life that embraces the fragility of every moment and cherishes the endless chase toward self-betterment. 
            | I've spent most of my career building business management and 'soft skills', and recently have been focused on my next challenge, web development. Please feel free to reach out if you would like to talk about how my unique skill set can help you.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li HTML
          li CSS
          li Express
          li Node.js
          li Human Centered Design
          li Client Relationship Management
          li Progressive Enhancement
          li Visual Studio Code
          li Git
          li Figma
          li Guitar
          li Drums
        h6 Contact Info

        //- Add your own contact info
        ul
          li 703-403-3838
          li joseph.steel.iv@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/joseph-steel-6271a955/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/SteelMasterJ' target="_blank") GitHub
        a.button.expanded(href='https://www.greatfallsdigital.co/') My Web Development Company Website
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  